.title {
  font-size: 0.8em;
  text-align: center;
  margin: 0;
  text-wrap: balance;

  @media screen and (max-width: 1000px) {
    font-size: 1.2em;
  }
}

.metric {
  font-size: 1em;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1000px) {
    font-size: 1.4em;
  }

  .data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    text-wrap: balance;

    &.small {
      font-size: 1.5em;
      text-align: center;
      text-wrap: balance;
    }

    .number {
      color: #a078ff;
      font-weight: bold;
    }
  }

  > div:last-child {
    text-wrap: balance;
    text-align: center;
  }
}
