.icon {
  width: clamp(56px, 12vw, 88px);
  height: auto;
  padding: 8px;
  aspect-ratio: 1;
  filter: contrast(0.9) brightness(0.9);
}

.text {
  text-align: center;
  font-size: 0.8em;

  @media screen and (max-width: 1000px) {
    font-size: 1.4em;
  }
}
